
    <%- include('parts/header') %>
    <section class="pt-4 ">
        <div class="container">
            <div class="card p-2 mx-auto" style="width: 38rem;">
                <%var name%>
                <ul class="list-group list-group-flush">
                  <li class=" my-1 text-center list-group-item">
                    <p class="text">To Do List</p>
                    <a href="/logout">log out</a>
                  </li>
                  <li class=" my-1 text-center list-group-item">
                    <h1>
                      <%=name%>
                    </h1>
                    
                  </li>
                  <form class="d-flex flex-column" method="POST" action="">
                    <input class="my-1 input outline-danger" name="todotext" required placeholder="To Do text" type="text">
                    <button class="btn my-1 btn-success" type="submit"> ADD </button>
                  </form>
                </ul>
            </div>
        </div>
    </section>
    <section class="mt-3">
      <div class="container ">
        <%var todotexts;%>
        <ul class="border rounded border-warning d-flex row justify-content-between p-2 mx-auto" id="b" style="width: 38rem; list-style: none;">
          <%todotexts.forEach(e=>{%>
            
          <li class="d-felx justify-content-between align-items-center item row">
            <p class="text col-5"><%=e.todotext%></p>
            <div class="d-felx my-2 justify-content-between align-items-center item col-6 row" method="GET">
              
              <button class="ok btn col-5  btn-success" type="button" >ok</button>
              <a href='/delete/<%=e.todotext%>' class="delete btn col-6 btn-danger" type="submit" >delete</a>    
            </div>
         </li>

          <%})%>
        </ul>
      </div>
    </section>
       
        
   
    
      <script>
        const deleteBtnElem = document.querySelectorAll(".delete")
        const okBtnElem = document.querySelectorAll(".ok")
        const ulElem = document.querySelector("#b")
        const itemelem = document.querySelector(".item")
        ulElem.addEventListener("click", delet)

        async function delet(e){
          const item = e.target
          
          if(item.classList[0]==="ok"){
            
           let text = item.parentElement
           let father = text.parentElement

            father.classList.toggle('bg-warning')
           
          }

        }
        
      </script>