
    <%- include('parts/header') %>
    <section class="pt-4 ">
        <div class="container">
            <div class="card p-2 mx-auto" style="width: 38rem;">
                <ul class="list-group list-group-flush">
                  <li class=" my-1 text-center list-group-item">To Do List</li>
                  <form class="d-flex flex-column" method="POST" action="">
                    <input class="my-1 input outline-danger " required placeholder="To Do text" type="text">
                    <button class="btn my-1 btn-success" type="submit"> ADD </button>
                  </form>
                </ul>
            </div>
        </div>
    </section>
