
    <%- include('parts/header') %>
    <section class="pt-4 ">
        <div class="container">
            <div class="card p-2 mx-auto" style="width: 38rem;">
                <%var name%>
                <ul class="list-group list-group-flush">
                  <li class=" my-1 text-center list-group-item">To Do List</li>
                  <li class=" my-1 text-center list-group-item">
                    <h1>
                      <%=name%>
                    </h1>
                  </li>
                  <form class="d-flex flex-column" method="POST" action="">
                    <input class="my-1 input outline-danger" name="todotext" required placeholder="To Do text" type="text">
                    <button class="btn my-1 btn-success" type="submit"> ADD </button>
                  </form>
                </ul>
            </div>
        </div>
    </section>
    <section>
      <div class="container">
        <div class="card d-flex jus p-2 mx-auto" style="width: 38rem;">
          <%for (let i of todotexts) {%>
          <p><%=i.todotext%></p>
          <time><%=i.time%></time>
          <button>delete</button>
          <%}%>
         
      </div>
      </div>
    </section>
