
    <%- include('parts/header') %>
    <section class="pt-4 ">
        <div class="container">
            <div class="card p-2 mx-auto" style="width: 38rem;">
                <%var name%>
                <ul class="list-group list-group-flush">
                  <li class=" my-1 text-center list-group-item">To Do List</li>
                  <li class=" my-1 text-center list-group-item">
                    <h1>
                      <%=name%>
                    </h1>
                  </li>
                  <form class="d-flex flex-column" method="POST" action="">
                    <input class="my-1 input outline-danger" name="todotext" required placeholder="To Do text" type="text">
                    <button class="btn my-1 btn-success" type="submit"> ADD </button>
                  </form>
                </ul>
            </div>
        </div>
    </section>
    <section class="mt-3">
      <div class="container ">
        <%var todotexts;%>
        <ul class="border rounded border-warning d-flex row justify-content-between p-2 mx-auto" id="b" style="width: 38rem; list-style: none;">
          <%todotexts.forEach( (el, index)=>{%>
            
          <li class="d-felx w-100 item row">
            <p class="text my-2 col-4"><%=el.todotext%></p>
          <time class="text-info my-2 col-4"><%=el.time%></time>
          <button class="ok btn col-2 my-2  btn-success" >ok</button>
          <button class="delete btn col-2 my-2  btn-danger">delete</button>
          </li>
         
          <%})%>
        </ul>
      </div>
    </section>
       
        
   
    
      <script>
        const deleteBtnElem = document.querySelectorAll(".delete")
        const okBtnElem = document.querySelectorAll(".ok")
        const ulElem = document.querySelector("#b")
        const itemelem = document.querySelector(".item")
        ulElem.addEventListener("click", delet)

        function delet(e){
          const item = e.target
          console.log(item.classList[0]);
          if(item.classList[0]==='delete'){
            fetch("/delet",{
              item
            })
          }

        }
        
      </script>