<%- include('parts/header') %>

<section class="pt-4 ">
	<div class="container">
		<div class="card p-2 mx-auto" style="width: 38rem;">
			<%var error%>
			<ul class="list-group list-group-flush">
			  <li class=" my-1 text-center list-group-item">Login</li>
			  <% if(error) {%>
				<div class="alert alert-danger">
					<%= error %>
				</div>
			<% } %>
			  <form class="d-flex flex-column" method="POST" enctype="application/x-www-form-urlencoded" action="/index">
				<input class="my-1 input form-control" name="email" required placeholder="Email adress" type="email">
				<input class="my-1 input form-control" type="password" name="password" required placeholder="Enter your password" >
				<button class="btn my-1 btn-success" type="submit"> Login </button>
			  </form>
			</ul>
			<a class="border rounded text-danger  text-center " href="/register">Sign Up</a>
		</div>
	</div>
</section>
