<%- include('parts/header') %>



<section class="pt-4 ">
	<div class="container">
		<div class="card p-2 mx-auto" style="width: 38rem;">
			<ul class="list-group list-group-flush">
			  <li class=" my-1 text-center list-group-item">Sign Up</li>
			  <form class="d-flex flex-column" method="POST" enctype="application/x-www-form-urlencoded" action="/signup">
				<input class="my-1 input form-control" type="text" name="name" required placeholder="Enter your name" id="">
				<input class="my-1 input form-control" required placeholder="Email" type="email">
				<input class="my-1 input form-control" type="password" required placeholder="password" name="password"  id="">

				<button class="btn my-1 btn-success" type="submit"> Sign Up </button>
			  </form>
			</ul>
			<a class="border rounded text-danger  text-center " href="/">Login</a>
		</div>
	</div>
</section>
